{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}" class="{% block html_class %}no-js{% endblock %}">

<head>
    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="created" content="{% now "jS M Y h:i" %}"/>
    <meta name="description" content="{% block description %}Torsion Group, Auto Parts{% endblock %}"/>
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}"/>
    <meta name="robots" content="NOARCHIVE,NOCACHE"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
        <link rel="shortcut icon" href="{% static 'oscar/favicon.ico' %}"/>
    {% endblock %}

    {# Block where global CSS will go. #}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/fontawesome-stars.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/ion-fonts.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/slick.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/animate.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/lightgallery.css' %}">
        <link rel="stylesheet" href="{% static 'oscar/css/plugins/nice-select.css' %}">

        <link rel="stylesheet" href="{% static 'oscar/css/styles.css' %}">
    {% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}
        <link rel="stylesheet" href="{% static 'oscar/css/styles.css' %}">
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
        {# Default to using Google analytics #}
        {% include "oscar/partials/google_analytics.html" %}
    {% endblock %}

</head>

<body class="template-color-1">
<div class="main-wrapper">
    {# Main content goes in this 'layout' block #}
    {% block layout %}{% endblock %}

</div>

{# Local scripts #}
{% block scripts %}
    <script src="{% static 'oscar/js/plugins/bootstrap.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/modernizr-2.8.3.min.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/popper.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/bootstrap.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/slick.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/hogan-3.0.2.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/lightgallery.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.nice-select.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.barrating.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.counterup.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.ui.touch-punch.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/scroll-top.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/theia-sticky-sidebar.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.waypoints.js' %}"></script>
    <script src="{% static 'oscar/js/plugins/jquery.zoom.js' %}"></script>

    <script src="{% static 'oscar/js/main.js' %}"></script>
    <script src="{% static 'oscar/js/scripts.js' %}"></script>
{% endblock %}

{# Additional JS scripts #}
{% block extrascripts %}

{% endblock %}

{# Block for body onload functions #}
<script>
    $(function () {
        {% block onbodyload %}{% endblock %}
    });
</script>

</body>
</html>
