{% extends "oscar/base.html" %}
{% load static %}

{% block styles %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}"/>
    {% endif %}
{% endblock %}

{% block layout %}

    <header class="header-main_area bg--sapphire">
        <div class="header-top_area d-lg-block d-none">
            <div class="container-fluid">
                <div class="row">
                    {% include "oscar/partials/nav_accounts.html" %}
                    {% include "oscar/partials/brand.html" %}
                    {# Mini-basket wrapped in a block so some templates can now display it #}
                    {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include "oscar/partials/nav_primary.html" %}
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}

        {% block breadcrumbs %}{% endblock %}
        {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
            </div>
        {% endblock %}
        {% include "oscar/partials/alert_messages.html" %}
        {% block subnavigation %}{% endblock %}

        {% block subheader %}{% endblock subheader %}

        {# Div exists for AJAX updates to entire content section #}
        {% block content %}{% endblock %}

    {% endblock %}

    {% include "oscar/partials/footer.html" %}

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
