{% load i18n %}
{% load static %}

<div class="custom-search_col col-12">
    <div class="hm-form_area">

        <form method="get" action="{% url 'search:search' %}" class="hm-searchbox">

            <select class="nice-select select-search-category">
                <option value="0">{% trans "All products" %}</option>

            </select>

            <div class="hm-form_area">
                {{ search_form.q }}
            </div>

            <button class="header-search_btn" type="submit">
                <i class="ion-ios-search-strong"><span>{% trans "Search" %}</span></i></button>

        </form>

    </div>
</div>
